/* Header.css */

.header {
    background-color: #0863ff;
    color: #fff;
    padding: 20px;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo h1 {
    margin: 0;
  }
  
  .header__nav {
    display: flex;
  }
  
  .header__nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header__nav-item {
    margin-left: 20px;
  }
  
  .header__nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header__nav-link:hover {
    color: #36a9fb;
  }
  